<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onudapps.proman">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.onudapps.ProManApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_proman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_proman_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.SignActivity" />
        <activity android:name=".ui.activities.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignActivity" />
        </activity>
        <activity android:name=".ui.activities.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignActivity" />
        </activity>
        <activity android:name=".ui.activities.BoardCardsActivity">
        </activity>
        <activity
            android:name=".ui.activities.BoardActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.BoardCardsActivity" />
        </activity>
        <activity android:name=".ui.activities.TaskActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.BoardActivity" />
        </activity>
        <activity android:name=".ui.activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>